@model AppDemo.Models.ContactInfo

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>Add Contact Details</title>
</head>
<body>

    <h1>Add Contact Details</h1>

    <form asp-route="SaveData" method="post">

        <div>
            <label asp-for="ContactId">ID :</label>
            <input asp-for="ContactId" />
        </div>

        <div>
            <label asp-for="FirstName">First Name :</label>
            <input asp-for="FirstName" />
        </div>

        <div>
            <label asp-for="LastName">Last Name :</label>
            <input asp-for="LastName" />
        </div>

        <div>
            <label asp-for="CompanyName">Company Name :</label>
            <input asp-for="CompanyName" required />
        </div>

        <div>
            <label asp-for="EmailId">Email :</label>
            <input asp-for="EmailId" type="email" required />
        </div>

        <div>
            <label asp-for="MobileNo">Mobile Number :</label>
            <input asp-for="MobileNo" type="number" required />
        </div>

        <div>
            <label asp-for="Designation">Designation :</label>
            <input asp-for="Designation" />
        </div>

        <div>
            <button type="submit">Add Contact</button>
        </div>

    </form>

</body>
</html>